*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
body{
    height: 100vh;
    width: 100vh;
    background-image: url(background.jpg.jpg);
}
.glass{
    width: 500px;
    height: 600px;
    border-radius: 16px;
    background: #ffffff09;
    box-shadow: 0 10px 30px #ffffff50;
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff50;
    transition: 0.4s ease all;
    margin-right: 100px;
    margin-left: 200px;
    margin-top: 80px;
    display: flex;

}
.glass-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}
.glass-content h1 ,h2{
    color: aquamarine;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    color:rgb(191, 237, 221);
  }
  
  input, select, button {
    margin-bottom: 10px;
    color: rgb(214, 202, 202);
    color: black;
  }
  
  #convertedLength {
    font-weight: bold;
    color:rgb(191, 237, 221);
  }
  button{
    background-color: aquamarine;
    color: black;
    border-radius: 12px;
    font-weight: bold;
    height: 50px;
    width: 400px;
    font-size: 24px;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
  }
  input , select{
    font-size: 24px;
    margin-bottom: 20px;
  }